name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'

env:
  DOCKERHUB_REPO: mirrichwangd/kikoeru

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Get package.json version
      id: get_version
      run: |
        VERSION=$(jq -r '.version' package.json)
        echo "Package Version: $VERSION"
        echo "::set-output name=version::$VERSION"

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image with Buildx
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
          ${{ env.DOCKERHUB_REPO }}:v${{ steps.get_version.outputs.version }}
          ${{ env.DOCKERHUB_REPO }}:latest
        platforms: linux/amd64,linux/arm64
